

.lpFormat{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100vh;
    width: 100vw;
    border: 5px, solid, #51b3f4;
    background-color: #d6ad60;
    border-radius: 3px;
    gap: 20px;
    padding: 20px;
    justify-content: center;  
    align-items: center;  
}

.item {
    background: #51b3f4;
    color: white;
    border-radius: 6px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    height: fit-content;
    text-align: center;
    font-size: x-large;
    text-wrap:balance;
    width: 400px;
}