
a {
  padding-top: 20px;
  text-decoration: none;
  font-size: large;
}
.product-box {
  background-color: #122620;
  padding: 20px;
  margin: 20px;
}

.product-card{
    width: fit-content;
    border: 2px solid gray;
    margin:auto;
    background-color: #d6ad60;
    text-align: center;
}

.product-img{
  height: 250px;
  width: 250px;
}

.product-list-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  gap: 40px; 
  padding: 10px;
  border: 10px solid #f4ebd0;
}

.quantity{
    display: inline-flex;
    height: 20px;
    align-items: center;
    padding-bottom: 10px;
    gap: 8px;
}

.mainTitle{
    text-align: center; 
    border: 3px white solid;
    background-color: #f4ebd0;
}

.total{
  background-color: #d6ad60;
  width: 300px;
  height: 100px;
  margin: 50px 800px;
  
}